[Unit]
Description=One Concept %i worker
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/one-concept run-job %i
TimeoutStartSec=3700
TimeoutStopSec=60
KillSignal=SIGTERM
UMask=0077
PrivateTmp=true
ProtectHome=true
NoNewPrivileges=true
